body {
     padding: 0px;
     margin: 0px;
     background: white;
}

.colorbar {
     background: white;
}

.bouton {
	background: url(images/loupe.png);

	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	margin-top: 12px;
}

.petitlogo{
	margin-top: 12px;
	margin-left: 22px;
}

.nav-link {
     color: #000;
     cursor: pointer; /*change le pointeur*/
}

.nav-link:hover {
     color: rgb(0,113,121); /*couleurs passe dessus*/
     font-weight: 700;
}

.stylelist {
    list-style: none; /* enlever les puces */
    margin-top: 10px; /*margin cases*/
    margin-left: 10px;
    padding: 0px;/* enlever les marges automatiques */
   

}
 
.align {
    display: table-cell; /* affichage en ligne */
}

.style {
     display:block;   /*style list de case */
     float:left;   
     background-color:#fff;
     color:black;
     text-decoration:none;
     text-align:center;
     padding:3px;
     border:1px solid;
     /*pour avoir un effet "outset" avec IE :*/
     border-color:#DCDCDC #696969 #696969 #DCDCDC;
}
/* MILIEU*/
 .titre {
    width: 700px;
    height: 50px;
    margin: auto;
    color: black;
    background-color: white;
    border: 2px solid black;
 }

.formulaire {
    width: 600px; 
    margin : auto;
    background-color: white;
}

:invalid { 
     background-color: #F0DDDD;
    border-color: #e88;
    -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
    -moz-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
    -o-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
    -ms-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
    box-shadow:0 0 5px rgba(255, 0, 0, .8);
}
 
:required {
    border-color: #88a;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    box-shadow: 0 0 5px rgba(0, 0, 255, .5);
        }
.formulaire input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border:1px solid #ccc;
    font-size:25px;
    width:500px;
    min-height:30px;
    display:block;
    margin-bottom:15px;
    margin-top:5px;
    outline: none;
    
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
}
 
.formulaire input[type=submit] {
    background:none;
    padding:10px;
        cursor: pointer;
}

 .formulaire label{
    cursor: pointer;
}



/*FOOTER*/
.footbar {
	background: black;
	color: white;
}

.footer-link {
	cursor: pointer;
}

.footer-link:hover {
     color: rgb(0,113,121); /*couleurs passe dessus*/
     font-weight: 700;
}

.stylefooter {
     display:block;/*style list de case */
     float:left;   
     background-color:#000;
     color: white;
     font-weight: 700;
     text-decoration:none;
     text-align:center;
     padding:3px;
     /*pour avoir un effet "outset" avec IE :*/
}
